<meta name="description" content="{{ description or meta.description }}"/>

{% if favicon %}
  <link rel="shortcut icon" href="{{ favicon }}">
{% endif %}

{# TODO: https://github.com/maxboeck/eleventastic/blob/master/src/includes/meta.njk #}
